# dependencies
node_modules/

# Next.js
.next/
out/

# build output
dist/
build/

# env files
.env*

# pnpm
.pnpm-store/

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
